/*
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;

----

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

:root {
  /* Color */
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-very-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  /* Font */
  --ff-primary: 'Fraunces', serif;
  --ff-secondary: 'Montserrat', sans-serif;

  /* Font size */
  --fs-paragraph: 14px;
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.25rem;
  --fs-900: 3rem;

  /* Font weight */
  --fw-regular: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  font-family: var(--ff-secondary);
}

body {
  background-color: var(--clr-cream);
  padding: 1rem;
  margin: 0 auto;
}

.card {
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.card__content {
  padding: 1rem;
}

.card__brand {
  color: var(--clr-dark-grayish-blue);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
}

.card__title {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin: 0.5rem 0;
}

.card__description {
  color: var(--clr-dark-grayish-blue);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  margin-bottom: 1rem;
}

.card__price--original {
  text-decoration: line-through;
  color: var(--clr-dark-grayish-blue);
}

.card__price--discounted {
  color: var(--clr-dark-cyan);
  font-weight: var(--fw-regular);
  font-size: var(--fs-800);
  font-family: var(--ff-primary);
}

.card__button {
  display: flex;
  justify-content: center;
  background-color: var(--clr-dark-cyan);
  color: var(--clr-white);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card__button--icon {
  margin: 0 0.5rem 0 0;
}
